USE [master]
GO
/****** Object:  Database [oms_db]    Script Date: 04/10/2019 16:39:36 ******/
CREATE DATABASE [oms_db] ON  PRIMARY 
( NAME = N'oms_db', FILENAME = N'D:\CoreDatabase\oms_db.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'oms_db_log', FILENAME = N'D:\CoreDatabase\oms_db_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oms_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oms_db]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[warehouse_id] [nvarchar](250) NOT NULL,
	[warehouseCode] [nvarchar](50) NULL,
	[description] [nvarchar](250) NULL,
	[address] [nvarchar](250) NULL,
	[authorized_contact] [nvarchar](250) NULL,
	[contact_number] [nvarchar](250) NULL,
	[warehouse_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Warehouses] PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Warehouses] ([warehouse_id], [warehouseCode], [description], [address], [authorized_contact], [contact_number], [warehouse_type]) VALUES (N'CEB1', N'115', N'VGL CEBU WAREHOUSE', N'Mandaue City', N'Steven L.', N'911', N'Hazardous')
/****** Object:  Table [dbo].[TransportProviders]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportProviders](
	[transport_id] [nvarchar](250) NOT NULL,
	[description] [nvarchar](250) NULL,
	[authorized_contact] [nvarchar](250) NULL,
	[contact_number] [nvarchar](250) NULL,
	[transport_types] [nvarchar](250) NULL,
 CONSTRAINT [PK_TransportProviders] PRIMARY KEY CLUSTERED 
(
	[transport_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TransportProviders] ([transport_id], [description], [authorized_contact], [contact_number], [transport_types]) VALUES (N'VGL-CEB1', N'VGL CEBU FLEET', N'Gwen', N'912', N'Military Grade')
INSERT [dbo].[TransportProviders] ([transport_id], [description], [authorized_contact], [contact_number], [transport_types]) VALUES (N'VGL-CEB2', N'VGL Central Cebu', N'Greg', N'913', N'For malls only')
/****** Object:  Table [dbo].[TransportCustomers]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportCustomers](
	[transport] [nvarchar](250) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer] [nvarchar](250) NOT NULL,
	[custCode] [nvarchar](50) NOT NULL,
	[address] [nvarchar](250) NOT NULL,
	[contactNo] [nvarchar](50) NULL,
	[postalCode] [nvarchar](50) NULL,
	[tinNo] [nvarchar](50) NULL,
	[terms] [nvarchar](50) NULL,
	[discount1] [int] NOT NULL,
	[discount2] [int] NOT NULL,
	[discount3] [int] NOT NULL,
	[discount4] [int] NOT NULL,
	[discount5] [int] NOT NULL,
	[zone] [int] NULL,
	[dateStamp] [datetime] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_TransportCustomers] PRIMARY KEY CLUSTERED 
(
	[transport] ASC,
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TransportCustomers] ON
INSERT [dbo].[TransportCustomers] ([transport], [id], [customer], [custCode], [address], [contactNo], [postalCode], [tinNo], [terms], [discount1], [discount2], [discount3], [discount4], [discount5], [zone], [dateStamp], [status]) VALUES (N'VGL-CEB1', 1, N'GAISANO -SAN CARLOS', N'000006', N'SAN CARLOS CITY, NEGROS', NULL, NULL, NULL, N'30DAYS', 10, 5, 0, 0, 0, 6, NULL, NULL)
INSERT [dbo].[TransportCustomers] ([transport], [id], [customer], [custCode], [address], [contactNo], [postalCode], [tinNo], [terms], [discount1], [discount2], [discount3], [discount4], [discount5], [zone], [dateStamp], [status]) VALUES (N'VGL-CEB1', 2, N'WATSON PERSONAL CARE STOR', N'000051', N'RECLAMATION AREA CEBU C.', NULL, NULL, NULL, N'60DAYS', 0, 0, 0, 0, 0, 1, NULL, NULL)
INSERT [dbo].[TransportCustomers] ([transport], [id], [customer], [custCode], [address], [contactNo], [postalCode], [tinNo], [terms], [discount1], [discount2], [discount3], [discount4], [discount5], [zone], [dateStamp], [status]) VALUES (N'VGL-CEB1', 3, N'AVF PHARMACY', N'000067', N'51 COLON ST.', NULL, NULL, NULL, N'30DAYS', 0, 0, 0, 0, 0, 6, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[TransportCustomers] OFF
/****** Object:  Table [dbo].[TMenu]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMenu](
	[menu_id] [nvarchar](50) NOT NULL,
	[menu_current] [int] NOT NULL,
 CONSTRAINT [PK_TMenu] PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TMenu] ([menu_id], [menu_current]) VALUES (N'DR', 1)
INSERT [dbo].[TMenu] ([menu_id], [menu_current]) VALUES (N'INCOMING', 3)
INSERT [dbo].[TMenu] ([menu_id], [menu_current]) VALUES (N'INVOICE', 2)
/****** Object:  Table [dbo].[Products]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [nvarchar](250) NOT NULL,
	[description] [nvarchar](500) NULL,
	[description1] [nvarchar](500) NULL,
	[description2] [nvarchar](500) NULL,
	[pcs_per_case] [int] NOT NULL,
	[category] [nvarchar](500) NULL,
	[pc_barcode] [nvarchar](200) NULL,
	[case_barcode] [nvarchar](200) NULL,
	[default_owner] [nvarchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Products_1] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON
INSERT [dbo].[Products] ([product_id], [description], [description1], [description2], [pcs_per_case], [category], [pc_barcode], [case_barcode], [default_owner], [id]) VALUES (N'01300080', N'ZIM ALL PURP DETERGENT32G', N'', N'ZIM ALL PURP DETERGENT32G', 1, N'ZIM', N'', N'', N'COMARK', 1)
INSERT [dbo].[Products] ([product_id], [description], [description1], [description2], [pcs_per_case], [category], [pc_barcode], [case_barcode], [default_owner], [id]) VALUES (N'10050063', N'FARLIN FOLDING BATH TUB', N'', N'', 1, N'', N'', N'', N'COMARK', 2)
INSERT [dbo].[Products] ([product_id], [description], [description1], [description2], [pcs_per_case], [category], [pc_barcode], [case_barcode], [default_owner], [id]) VALUES (N'11010001', N'FARLIN SIL.NIPPLE POUCH', N'', N'FARLIN SIL.NIPPLE POUCH', 12, N'FARLIN', N'', N'', N'COMARK', 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
SET IDENTITY_INSERT [dbo].[Products] OFF
/****** Object:  Table [dbo].[OutgoingShipmentRequests]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutgoingShipmentRequests](
	[out_shipment_id] [nvarchar](250) NOT NULL,
	[warehouse] [nvarchar](250) NOT NULL,
	[datetime] [datetime] NULL,
	[document_reference] [nvarchar](250) NULL,
	[client] [nvarchar](250) NULL,
	[authorized_tms] [nvarchar](250) NULL,
	[remarks] [nvarchar](250) NULL,
	[tms_trip_id] [nvarchar](250) NULL,
	[tms_trip_date] [datetime] NULL,
	[wms_released_id] [nvarchar](250) NULL,
	[wms_release_date] [datetime] NULL,
	[customer_id] [nvarchar](250) NULL,
	[customer_name] [nvarchar](250) NULL,
	[customer_invoice_address] [nvarchar](250) NULL,
	[customer_delivery_address] [nvarchar](250) NULL,
	[status] [nvarchar](50) NULL,
	[document_reference_date] [datetime] NULL,
	[outgoing_type] [nvarchar](50) NULL,
	[docNo] [nvarchar](50) NULL,
	[poNo] [nvarchar](50) NULL,
	[terms] [nvarchar](50) NULL,
	[shippingInstruction] [nvarchar](100) NULL,
	[disc1] [int] NULL,
	[disc2] [int] NULL,
	[disc3] [int] NULL,
	[disc4] [int] NULL,
	[disc5] [int] NULL,
	[amountD] [decimal](18, 2) NULL,
	[terrCode] [nvarchar](50) NULL,
	[sr] [nvarchar](50) NULL,
	[typeStocks] [nvarchar](50) NULL,
 CONSTRAINT [PK_OutgoingShipmentRequest] PRIMARY KEY CLUSTERED 
(
	[out_shipment_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [nvarchar](250) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[position] [nvarchar](250) NOT NULL,
	[password] [nvarchar](50) NULL,
	[usertype] [nvarchar](50) NULL,
 CONSTRAINT [PK_employees_1] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[employees] ([employee_id], [name], [position], [password], [usertype]) VALUES (N'admin', N'eddie cabellon', N'admin', N'42Vr+CYmTFCv4nWfNghVZg==', N'admin')
INSERT [dbo].[employees] ([employee_id], [name], [position], [password], [usertype]) VALUES (N'jomer2314', N'jomer', N'programmer', N'qLsBXifJd13l8WyS0uvyeA==', N'admin')
/****** Object:  Table [dbo].[itemPrice]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itemPrice](
	[productID] [nvarchar](50) NOT NULL,
	[priceTypeID] [nvarchar](50) NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[qty] [int] NULL,
	[unitPrice] [money] NULL,
	[dateStamp] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncomingShipmentRequests]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomingShipmentRequests](
	[shipment_id] [nvarchar](250) NOT NULL,
	[wrrNo] [int] NULL,
	[warehouse] [nvarchar](250) NOT NULL,
	[datetime] [datetime] NULL,
	[document_reference] [nvarchar](250) NULL,
	[client] [nvarchar](250) NULL,
	[authorized_shipper] [nvarchar](250) NULL,
	[codeS] [nvarchar](50) NULL,
	[address] [nvarchar](200) NULL,
	[remarks] [nvarchar](1000) NULL,
	[incoming_type] [nvarchar](50) NOT NULL,
	[typeStocks] [nvarchar](50) NULL,
	[received] [nvarchar](50) NULL,
	[received_on] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[document_reference_date] [datetime] NULL,
	[custCode] [nvarchar](50) NULL,
	[custName] [nvarchar](50) NULL,
	[issued] [nvarchar](50) NULL,
	[dateIssued] [datetime] NULL,
	[pickUp] [nvarchar](50) NULL,
	[datePick] [datetime] NULL,
	[shippedVia] [nvarchar](250) NULL,
	[transCode] [nvarchar](50) NULL,
	[Nr] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[shipment_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncomingShipmentRequestDetails]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomingShipmentRequestDetails](
	[shipment] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[expected_qty] [int] NULL,
	[received_qty] [int] NULL,
	[lot_no] [nvarchar](50) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[price] [decimal](18, 2) NULL,
	[total] [decimal](18, 2) NULL,
 CONSTRAINT [PK_IncomingShipmentRequestDetails] PRIMARY KEY CLUSTERED 
(
	[shipment] ASC,
	[product] ASC,
	[uom] ASC,
	[lot_no] ASC,
	[expiry] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[IncomingShipmentRequestDetails] ([shipment], [product], [uom], [expected_qty], [received_qty], [lot_no], [expiry], [price], [total]) VALUES (N'CEB1-INCOMING-1', N'10050063', N'CASES', 10, 10, N'12345', CAST(0x0000AE0400000000 AS DateTime), NULL, NULL)
INSERT [dbo].[IncomingShipmentRequestDetails] ([shipment], [product], [uom], [expected_qty], [received_qty], [lot_no], [expiry], [price], [total]) VALUES (N'CEB1-INCOMING-1', N'11010001', N'CASES', 10, 10, N'54123', CAST(0x0000AE0400000000 AS DateTime), NULL, NULL)
INSERT [dbo].[IncomingShipmentRequestDetails] ([shipment], [product], [uom], [expected_qty], [received_qty], [lot_no], [expiry], [price], [total]) VALUES (N'CEB1-INCOMING-1', N'11010002', N'CASES', 10, 10, N'21345', CAST(0x0000AE0400000000 AS DateTime), NULL, NULL)
/****** Object:  Table [dbo].[OutgoingShipmentRequestDetails]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutgoingShipmentRequestDetails](
	[out_shipment] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[expected_qty] [int] NULL,
	[released_qty] [int] NULL,
	[price] [decimal](18, 2) NULL,
	[disc1] [int] NOT NULL,
	[disc2] [int] NOT NULL,
	[disc3] [int] NOT NULL,
	[disc4] [int] NOT NULL,
	[disc5] [int] NOT NULL,
 CONSTRAINT [PK_OutgoingShipmentRequestDetails] PRIMARY KEY CLUSTERED 
(
	[out_shipment] ASC,
	[product] ASC,
	[uom] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OutgoingShipmentRequestDetails] ([out_shipment], [product], [uom], [expected_qty], [released_qty], [price], [disc1], [disc2], [disc3], [disc4], [disc5]) VALUES (N'CEB1-INVOICE-1', N'10050063', N'CASES', 1, NULL, CAST(1500.00 AS Decimal(18, 2)), 0, 0, 0, 0, 0)
INSERT [dbo].[OutgoingShipmentRequestDetails] ([out_shipment], [product], [uom], [expected_qty], [released_qty], [price], [disc1], [disc2], [disc3], [disc4], [disc5]) VALUES (N'CEB1-INVOICE-1', N'11010001', N'CASES', 1, NULL, CAST(500.00 AS Decimal(18, 2)), 0, 0, 0, 0, 0)
INSERT [dbo].[OutgoingShipmentRequestDetails] ([out_shipment], [product], [uom], [expected_qty], [released_qty], [price], [disc1], [disc2], [disc3], [disc4], [disc5]) VALUES (N'CEB1-INVOICE-1', N'11010002', N'CASES', 1, NULL, NULL, 0, 0, 0, 0, 0)
/****** Object:  Table [dbo].[OutgoingShipmentRequestDetailDetails]    Script Date: 04/10/2019 16:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutgoingShipmentRequestDetailDetails](
	[out_shipment] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[lot_no] [nvarchar](250) NOT NULL,
	[released_qty] [int] NOT NULL,
 CONSTRAINT [PK_OutgoingShipmentRequestDetailDetails] PRIMARY KEY CLUSTERED 
(
	[out_shipment] ASC,
	[product] ASC,
	[uom] ASC,
	[expiry] ASC,
	[lot_no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_itemPrice_qty]    Script Date: 04/10/2019 16:39:37 ******/
ALTER TABLE [dbo].[itemPrice] ADD  CONSTRAINT [DF_itemPrice_qty]  DEFAULT ((0)) FOR [qty]
GO
/****** Object:  Default [DF_OutgoingShipmentRequestDetails_disc1]    Script Date: 04/10/2019 16:39:37 ******/
ALTER TABLE [dbo].[OutgoingShipmentRequestDetails] ADD  CONSTRAINT [DF_OutgoingShipmentRequestDetails_disc1]  DEFAULT ((0)) FOR [disc1]
GO
/****** Object:  Default [DF_OutgoingShipmentRequestDetails_disc2]    Script Date: 04/10/2019 16:39:37 ******/
ALTER TABLE [dbo].[OutgoingShipmentRequestDetails] ADD  CONSTRAINT [DF_OutgoingShipmentRequestDetails_disc2]  DEFAULT ((0)) FOR [disc2]
GO
/****** Object:  Default [DF_OutgoingShipmentRequestDetails_disc3]    Script Date: 04/10/2019 16:39:37 ******/
ALTER TABLE [dbo].[OutgoingShipmentRequestDetails] ADD  CONSTRAINT [DF_OutgoingShipmentRequestDetails_disc3]  DEFAULT ((0)) FOR [disc3]
GO
/****** Object:  Default [DF_OutgoingShipmentRequestDetails_disc4]    Script Date: 04/10/2019 16:39:37 ******/
ALTER TABLE [dbo].[OutgoingShipmentRequestDetails] ADD  CONSTRAINT [DF_OutgoingShipmentRequestDetails_disc4]  DEFAULT ((0)) FOR [disc4]
GO
/****** Object:  Default [DF_OutgoingShipmentRequestDetails_disc5]    Script Date: 04/10/2019 16:39:37 ******/
ALTER TABLE [dbo].[OutgoingShipmentRequestDetails] ADD  CONSTRAINT [DF_OutgoingShipmentRequestDetails_disc5]  DEFAULT ((0)) FOR [disc5]
GO
/****** Object:  ForeignKey [FK__IncomingS__shipm__2F10007B]    Script Date: 04/10/2019 16:39:37 ******/
ALTER TABLE [dbo].[IncomingShipmentRequestDetails]  WITH CHECK ADD FOREIGN KEY([shipment])
REFERENCES [dbo].[IncomingShipmentRequests] ([shipment_id])
GO
/****** Object:  ForeignKey [FK_OutgoingShipmentRequestDetails_OutgoingShipmentRequest]    Script Date: 04/10/2019 16:39:37 ******/
ALTER TABLE [dbo].[OutgoingShipmentRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_OutgoingShipmentRequestDetails_OutgoingShipmentRequest] FOREIGN KEY([out_shipment])
REFERENCES [dbo].[OutgoingShipmentRequests] ([out_shipment_id])
GO
ALTER TABLE [dbo].[OutgoingShipmentRequestDetails] CHECK CONSTRAINT [FK_OutgoingShipmentRequestDetails_OutgoingShipmentRequest]
GO
/****** Object:  ForeignKey [FK_OutgoingShipmentRequestDetailDetails_OutgoingShipmentRequestDetails]    Script Date: 04/10/2019 16:39:37 ******/
ALTER TABLE [dbo].[OutgoingShipmentRequestDetailDetails]  WITH CHECK ADD  CONSTRAINT [FK_OutgoingShipmentRequestDetailDetails_OutgoingShipmentRequestDetails] FOREIGN KEY([out_shipment], [product], [uom])
REFERENCES [dbo].[OutgoingShipmentRequestDetails] ([out_shipment], [product], [uom])
GO
ALTER TABLE [dbo].[OutgoingShipmentRequestDetailDetails] CHECK CONSTRAINT [FK_OutgoingShipmentRequestDetailDetails_OutgoingShipmentRequestDetails]
GO
