USE [master]
GO
/****** Object:  Database [wms_db]    Script Date: 04/10/2019 16:37:03 ******/
CREATE DATABASE [wms_db] ON  PRIMARY 
( NAME = N'wms_db', FILENAME = N'D:\CoreDatabase\wms_db.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'wms_db_log', FILENAME = N'D:\CoreDatabase\wms_db_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wms_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wms_db]
GO
/****** Object:  Table [dbo].[Releases]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Releases](
	[release_id] [nvarchar](250) NOT NULL,
	[trip] [nvarchar](250) NOT NULL,
	[released_on] [datetime] NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Releases] PRIMARY KEY CLUSTERED 
(
	[release_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseOrders]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseOrders](
	[order_id] [nvarchar](250) NOT NULL,
	[client] [nvarchar](100) NOT NULL,
	[reference] [nvarchar](1000) NOT NULL,
	[reference_date] [datetime] NOT NULL,
	[order_date] [datetime] NOT NULL,
	[recipient] [nvarchar](1000) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[scheduled_release_date] [datetime] NULL,
	[actual_release_date] [datetime] NULL,
	[total_invoice_amount] [money] NULL,
	[customer] [nvarchar](100) NULL,
	[holding_transaction] [nvarchar](250) NULL,
	[holding_datetime] [datetime] NULL,
	[holding_reason] [nvarchar](50) NULL,
	[cancel_reason] [nvarchar](500) NULL,
	[cancel_datetime] [datetime] NULL,
	[cancel_by] [nvarchar](50) NULL,
	[cancel_id] [nvarchar](250) NULL,
	[oms_shipment_id] [nvarchar](250) NULL,
 CONSTRAINT [PK_ReleaseOrders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseTrips]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseTrips](
	[trip_id] [nvarchar](250) NOT NULL,
	[status] [nvarchar](50) NULL,
	[authorized_receiver] [nvarchar](50) NULL,
	[receiving_date] [datetime] NULL,
	[tms_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_ReleaseTrips] PRIMARY KEY CLUSTERED 
(
	[trip_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ReleaseTrips] ([trip_id], [status], [authorized_receiver], [receiving_date], [tms_name]) VALUES (N'VGL-CEB1-TR-59', NULL, N'jomer', NULL, N'VGL-CEB1')
/****** Object:  Table [dbo].[TMenu]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMenu](
	[menu_id] [nvarchar](50) NOT NULL,
	[menu_current] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TMenu] ([menu_id], [menu_current]) VALUES (N'BS', 1)
INSERT [dbo].[TMenu] ([menu_id], [menu_current]) VALUES (N'CBPL', 1)
INSERT [dbo].[TMenu] ([menu_id], [menu_current]) VALUES (N'ORC', 1)
/****** Object:  Table [dbo].[ShiftClearances]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftClearances](
	[clearance_id] [nvarchar](250) NOT NULL,
	[datetime_start] [datetime] NOT NULL,
	[datetime_end] [datetime] NULL,
	[operated_by] [nvarchar](250) NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_ShiftClearances] PRIMARY KEY CLUSTERED 
(
	[clearance_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Putaways]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Putaways](
	[putaway_id] [nvarchar](250) NOT NULL,
	[container] [nvarchar](250) NOT NULL,
	[encoded_on] [datetime] NOT NULL,
	[completed_on] [datetime] NULL,
 CONSTRAINT [PK_Putaways] PRIMARY KEY CLUSTERED 
(
	[putaway_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Putaways] ([putaway_id], [container], [encoded_on], [completed_on]) VALUES (N'CEB1-PA-1', N'CEB1-PALLET-1', CAST(0x0000AA1600B3AF9C AS DateTime), NULL)
INSERT [dbo].[Putaways] ([putaway_id], [container], [encoded_on], [completed_on]) VALUES (N'CEB1-PA-2', N'CEB1-PALLET-1', CAST(0x0000AA1800BCAC00 AS DateTime), NULL)
/****** Object:  Table [dbo].[ProductUOMs]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductUOMs](
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](250) NOT NULL,
	[qty] [decimal](18, 0) NOT NULL,
	[barcode] [nvarchar](250) NULL,
 CONSTRAINT [PK_ProductUOMs] PRIMARY KEY CLUSTERED 
(
	[product] ASC,
	[uom] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ProductUOMs] ([product], [uom], [qty], [barcode]) VALUES (N'01300080', N'CASES', CAST(1 AS Decimal(18, 0)), N'')
INSERT [dbo].[ProductUOMs] ([product], [uom], [qty], [barcode]) VALUES (N'01300080', N'PCS', CAST(1 AS Decimal(18, 0)), N'')
INSERT [dbo].[ProductUOMs] ([product], [uom], [qty], [barcode]) VALUES (N'10050063', N'CASES', CAST(1 AS Decimal(18, 0)), N'1')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
/****** Object:  Table [dbo].[Products]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [nvarchar](250) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[description1] [nvarchar](500) NOT NULL,
	[description2] [nvarchar](500) NOT NULL,
	[pcs_per_case] [int] NOT NULL,
	[category] [nvarchar](500) NULL,
	[pc_barcode] [nvarchar](200) NULL,
	[case_barcode] [nvarchar](200) NULL,
	[default_owner] [nvarchar](50) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Products] ([product_id], [description], [description1], [description2], [pcs_per_case], [category], [pc_barcode], [case_barcode], [default_owner]) VALUES (N'01300080', N'ZIM ALL PURP DETERGENT32G', N'', N'ZIM ALL PURP DETERGENT32G', 1, N'ZIM', N'', N'', N'COMARK')
INSERT [dbo].[Products] ([product_id], [description], [description1], [description2], [pcs_per_case], [category], [pc_barcode], [case_barcode], [default_owner]) VALUES (N'10050063', N'FARLIN FOLDING BATH TUB', N'', N'', 1, N'', N'', N'', N'COMARK')
INSERT [dbo].[Products] ([product_id], [description], [description1], [description2], [pcs_per_case], [category], [pc_barcode], [case_barcode], [default_owner]) VALUES (N'11010001', N'FARLIN SIL.NIPPLE POUCH', N'', N'FARLIN SIL.NIPPLE POUCH', 12, N'FARLIN', N'', N'', N'COMARK')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
/****** Object:  Table [dbo].[ProductClassification]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductClassification](
	[product] [nvarchar](250) NOT NULL,
	[classification] [nvarchar](250) NOT NULL,
	[value] [nvarchar](250) NULL,
 CONSTRAINT [PK_ProductClassification] PRIMARY KEY CLUSTERED 
(
	[product] ASC,
	[classification] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ProductClassification] ([product], [classification], [value]) VALUES (N'MK001', N'box_type', N'Medium Kahon')
INSERT [dbo].[ProductClassification] ([product], [classification], [value]) VALUES (N'MK002', N'box_type', N'Medium Kahon')
/****** Object:  Table [dbo].[Picklists]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Picklists](
	[picklist_id] [nvarchar](250) NOT NULL,
	[status] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Picklists] PRIMARY KEY CLUSTERED 
(
	[picklist_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhysicalCounts]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicalCounts](
	[phcount_id] [nvarchar](250) NOT NULL,
	[created_by] [nvarchar](250) NULL,
	[created_on] [nvarchar](250) NULL,
	[finished_on] [nvarchar](250) NULL,
	[device_handler] [nvarchar](250) NULL,
	[cycle] [decimal](18, 0) NULL,
	[cycle_year] [int] NULL,
	[counted_by] [nvarchar](250) NULL,
 CONSTRAINT [PK_PhysicalCounts] PRIMARY KEY CLUSTERED 
(
	[phcount_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PhysicalCounts] ([phcount_id], [created_by], [created_on], [finished_on], [device_handler], [cycle], [cycle_year], [counted_by]) VALUES (N'CEB1-PC-1', NULL, N'12/7/2018 4:15:26 PM', N'12/7/2018 4:15:52 PM', NULL, CAST(12 AS Decimal(18, 0)), 2018, N'TEBA')
/****** Object:  Table [dbo].[OrderCancellations]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderCancellations](
	[cancel_id] [nvarchar](250) NULL,
	[order_id] [nchar](10) NULL,
	[cancelled_by] [nchar](10) NULL,
	[cancelled_on] [nchar](10) NULL,
	[reason] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[location_id] [nvarchar](250) NOT NULL,
	[description] [nvarchar](1000) NOT NULL,
	[type] [nvarchar](250) NOT NULL,
	[status] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Locations] ([location_id], [description], [type], [status]) VALUES (N'BIN-A', N'BASKET', N'BIN', N'ACTIVE')
INSERT [dbo].[Locations] ([location_id], [description], [type], [status]) VALUES (N'BIN-B', N'PALLET', N'BIN', N'ACTIVE')
INSERT [dbo].[Locations] ([location_id], [description], [type], [status]) VALUES (N'BIN-C', N'SHELF', N'BIN', N'ACTIVE')
/****** Object:  Table [dbo].[LocationProductsLedger]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationProductsLedger](
	[location] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[qty] [int] NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[lot_no] [nvarchar](50) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[reserved_qty] [int] NULL,
	[available_qty]  AS ([qty]-[reserved_qty]),
	[to_be_picked_qty] [int] NULL,
	[expiry_status] [nvarchar](50) NULL,
 CONSTRAINT [PK_LocationProductsLedger] PRIMARY KEY CLUSTERED 
(
	[location] ASC,
	[product] ASC,
	[uom] ASC,
	[lot_no] ASC,
	[expiry] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LocationProductsLedger] ([location], [product], [qty], [uom], [lot_no], [expiry], [reserved_qty], [to_be_picked_qty], [expiry_status]) VALUES (N'CEB1-PALLET-1', N'10050063', 0, N'CASES', N'12345', CAST(0x0000AE0400000000 AS DateTime), 0, 0, NULL)
INSERT [dbo].[LocationProductsLedger] ([location], [product], [qty], [uom], [lot_no], [expiry], [reserved_qty], [to_be_picked_qty], [expiry_status]) VALUES (N'CEB1-PALLET-1', N'10050063', 0, N'PCS', N'789456', CAST(0x0000ACF300000000 AS DateTime), 0, 0, NULL)
INSERT [dbo].[LocationProductsLedger] ([location], [product], [qty], [uom], [lot_no], [expiry], [reserved_qty], [to_be_picked_qty], [expiry_status]) VALUES (N'CEB1-PALLET-1', N'11010001', 0, N'CASES', N'54123', CAST(0x0000AE0400000000 AS DateTime), 0, 0, NULL)
/****** Object:  Table [dbo].[LocationLedger]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationLedger](
	[location] [nvarchar](250) NOT NULL,
	[transaction_datetime] [datetime] NOT NULL,
	[transaction_type] [nvarchar](250) NOT NULL,
	[transaction_name] [nvarchar](250) NOT NULL,
	[transaction_id] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_LocationLedger] PRIMARY KEY CLUSTERED 
(
	[location] ASC,
	[transaction_datetime] ASC,
	[transaction_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LocationLedger] ([location], [transaction_datetime], [transaction_type], [transaction_name], [transaction_id]) VALUES (N'CEB1-PALLET-1', CAST(0x0000AA1600B3AF9C AS DateTime), N'IN', N'PUTAWAY', N'CEB1-PA-1')
INSERT [dbo].[LocationLedger] ([location], [transaction_datetime], [transaction_type], [transaction_name], [transaction_id]) VALUES (N'CEB1-PALLET-1', CAST(0x0000AA1600B3D774 AS DateTime), N'OUT', N'PUTAWAY_DECLARE_COMPLETE', N'CEB1-PA-1')
INSERT [dbo].[LocationLedger] ([location], [transaction_datetime], [transaction_type], [transaction_name], [transaction_id]) VALUES (N'CEB1-PALLET-1', CAST(0x0000AA1800BCAC00 AS DateTime), N'IN', N'PUTAWAY', N'CEB1-PA-2')
/****** Object:  Table [dbo].[ForResolutions]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForResolutions](
	[trans_source] [nvarchar](250) NOT NULL,
	[trans_id] [nvarchar](250) NOT NULL,
	[detected_on] [datetime] NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](250) NOT NULL,
	[lot_no] [nvarchar](250) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[location] [nvarchar](250) NOT NULL,
	[variance_type] [nvarchar](50) NOT NULL,
	[variance_qty] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[line] [int] NOT NULL,
	[remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_ForResolutions] PRIMARY KEY CLUSTERED 
(
	[trans_source] ASC,
	[trans_id] ASC,
	[line] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ForResolutions] ([trans_source], [trans_id], [detected_on], [product], [uom], [lot_no], [expiry], [location], [variance_type], [variance_qty], [status], [line], [remarks]) VALUES (N'PHYSICAL_COUNT', N'CEB1-PC-1', CAST(0x0000A9AF010C07A0 AS DateTime), N'31220005', N'PCS', N'123', CAST(0x0000AC8A00000000 AS DateTime), N'RACK-1', N'SHORTAGE', 5, N'FOR RESOLUTION', 1, NULL)
INSERT [dbo].[ForResolutions] ([trans_source], [trans_id], [detected_on], [product], [uom], [lot_no], [expiry], [location], [variance_type], [variance_qty], [status], [line], [remarks]) VALUES (N'PHYSICAL_COUNT', N'CEB1-PC-1', CAST(0x0000A9AF010C07A0 AS DateTime), N'31220007', N'PCS', N'333', CAST(0x0000ADF700000000 AS DateTime), N'RACK-1', N'SHORTAGE', 5, N'FOR RESOLUTION', 2, NULL)
INSERT [dbo].[ForResolutions] ([trans_source], [trans_id], [detected_on], [product], [uom], [lot_no], [expiry], [location], [variance_type], [variance_qty], [status], [line], [remarks]) VALUES (N'PHYSICAL_COUNT', N'CEB1-PC-1', CAST(0x0000A9AF010C07A0 AS DateTime), N'31220005', N'PCS', N'123', CAST(0x0000AB1C00000000 AS DateTime), N'STAGING-IN', N'SHORTAGE', 5, N'FOR RESOLUTION', 3, NULL)
/****** Object:  Table [dbo].[ForDisposals]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForDisposals](
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[lot_no] [nvarchar](250) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[qty] [int] NOT NULL,
	[reason] [nvarchar](250) NOT NULL,
	[disposed_to] [nvarchar](250) NULL,
	[disposed_by] [nvarchar](250) NULL,
	[release_id] [nvarchar](250) NULL,
	[trans_id] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ForDisposals] PRIMARY KEY CLUSTERED 
(
	[product] ASC,
	[uom] ASC,
	[lot_no] ASC,
	[expiry] ASC,
	[trans_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employee_id] [nvarchar](250) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[position] [nvarchar](250) NOT NULL,
	[password] [nvarchar](500) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employees] ([employee_id], [name], [position], [password]) VALUES (N'RR', N'RR', N'RR', N'356A192B7913B04C54574D18C28D46E6395428AB')
/****** Object:  Table [dbo].[Containers]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Containers](
	[container_id] [nvarchar](250) NOT NULL,
	[type] [nvarchar](250) NOT NULL,
	[description] [nvarchar](250) NULL,
	[status] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Containers] PRIMARY KEY CLUSTERED 
(
	[container_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Containers] ([container_id], [type], [description], [status]) VALUES (N'CEB1-PALLET-1', N'WOODEN PALLET 50KG', NULL, N'ACTIVE')
INSERT [dbo].[Containers] ([container_id], [type], [description], [status]) VALUES (N'CEB1-PALLET-2', N'WOODEN PALLET 50KG', NULL, N'ACTIVE')
INSERT [dbo].[Containers] ([container_id], [type], [description], [status]) VALUES (N'CEB1-PUSHCART-1', N'METAL PUSHCART', NULL, N'ACTIVE')
/****** Object:  Table [dbo].[BinProductLedger]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinProductLedger](
	[Location] [nvarchar](150) NOT NULL,
	[product] [nvarchar](150) NULL,
	[uom] [nvarchar](50) NULL,
	[lot_no] [nvarchar](50) NULL,
	[expiry] [datetime] NULL,
	[actualqty] [int] NULL,
	[min_qty] [int] NULL,
	[max_qty] [int] NULL,
	[qty_to_replenished] [int] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_BinProductLedger] PRIMARY KEY CLUSTERED 
(
	[Location] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BinProductLedger] ([Location], [product], [uom], [lot_no], [expiry], [actualqty], [min_qty], [max_qty], [qty_to_replenished], [status]) VALUES (N'BIN-A', N'10050063', N'PCS', N'123456', CAST(0x0000AE5600000000 AS DateTime), 20, 5, 20, 0, N'FULL')
INSERT [dbo].[BinProductLedger] ([Location], [product], [uom], [lot_no], [expiry], [actualqty], [min_qty], [max_qty], [qty_to_replenished], [status]) VALUES (N'BIN-B', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[BinProductLedger] ([Location], [product], [uom], [lot_no], [expiry], [actualqty], [min_qty], [max_qty], [qty_to_replenished], [status]) VALUES (N'BIN-C', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[BadStockDeclarations]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BadStockDeclarations](
	[declaration_id] [nvarchar](250) NOT NULL,
	[declared_by] [nvarchar](50) NULL,
	[declared_on] [datetime] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_BadStockDeclarations] PRIMARY KEY CLUSTERED 
(
	[declaration_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bins]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bins](
	[bin_id] [nvarchar](250) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[location] [nvarchar](250) NOT NULL,
	[barcode] [nvarchar](250) NOT NULL,
	[current_product] [nvarchar](250) NULL,
	[current_uom] [nvarchar](250) NULL,
	[current_min_qty] [int] NULL,
	[current_max_qty] [int] NULL,
	[current_capacity] [int] NULL,
 CONSTRAINT [PK_Bins] PRIMARY KEY CLUSTERED 
(
	[bin_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaseBreak]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseBreak](
	[casebreak_id] [nvarchar](250) NOT NULL,
	[approved_on] [datetime] NOT NULL,
	[approved_by] [nvarchar](250) NOT NULL,
	[encoded_on] [datetime] NOT NULL,
	[status] [nvarchar](250) NULL,
 CONSTRAINT [PK_CaseBreak] PRIMARY KEY CLUSTERED 
(
	[casebreak_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinProducts]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinProducts](
	[bin] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](250) NOT NULL,
	[min_qty] [int] NOT NULL,
	[max_qty] [int] NOT NULL,
 CONSTRAINT [PK_BinProducts] PRIMARY KEY CLUSTERED 
(
	[bin] ASC,
	[product] ASC,
	[uom] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BadStockDeclarationDetails]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BadStockDeclarationDetails](
	[declaration] [nvarchar](250) NOT NULL,
	[line] [int] NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](250) NOT NULL,
	[lot_no] [nvarchar](250) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[location] [nvarchar](250) NOT NULL,
	[qty] [int] NOT NULL,
	[reason] [nvarchar](1000) NOT NULL,
	[bad_stock_storage] [nvarchar](250) NULL,
 CONSTRAINT [PK_BadStockDeclarationDetails] PRIMARY KEY CLUSTERED 
(
	[declaration] ASC,
	[line] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issuances]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issuances](
	[issuance_id] [nvarchar](250) NOT NULL,
	[issued_to] [nvarchar](1000) NOT NULL,
	[issued_on] [datetime] NOT NULL,
	[issued_by] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Issuances] PRIMARY KEY CLUSTERED 
(
	[issuance_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhysicalCountDetails]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicalCountDetails](
	[phcount] [nvarchar](250) NOT NULL,
	[location] [nvarchar](250) NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhysicalCountDetails] PRIMARY KEY CLUSTERED 
(
	[phcount] ASC,
	[location] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PhysicalCountDetails] ([phcount], [location], [status]) VALUES (N'CEB1-PC-1', N'RACK-1', NULL)
INSERT [dbo].[PhysicalCountDetails] ([phcount], [location], [status]) VALUES (N'CEB1-PC-1', N'STAGING-IN', NULL)
/****** Object:  Table [dbo].[PicklistDetails]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PicklistDetails](
	[picklist] [nvarchar](250) NOT NULL,
	[order_id] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[lot_no] [nvarchar](50) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[qty] [int] NOT NULL,
	[line] [int] NOT NULL,
 CONSTRAINT [PK_PicklistDetails] PRIMARY KEY CLUSTERED 
(
	[picklist] ASC,
	[line] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PutawayDetails]    Script Date: 04/10/2019 16:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PutawayDetails](
	[putaway] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[lot_no] [nvarchar](50) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[location] [nvarchar](250) NOT NULL,
	[expected_qty] [int] NOT NULL,
	[actual_qty] [int] NULL,
 CONSTRAINT [PK_PutawayDetails] PRIMARY KEY CLUSTERED 
(
	[putaway] ASC,
	[product] ASC,
	[uom] ASC,
	[lot_no] ASC,
	[expiry] ASC,
	[location] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PutawayDetails] ([putaway], [product], [uom], [lot_no], [expiry], [location], [expected_qty], [actual_qty]) VALUES (N'CEB1-PA-1', N'10050063', N'CASES', N'12345', CAST(0x0000AE0400000000 AS DateTime), N'RACK-1', 10, 10)
INSERT [dbo].[PutawayDetails] ([putaway], [product], [uom], [lot_no], [expiry], [location], [expected_qty], [actual_qty]) VALUES (N'CEB1-PA-1', N'11010001', N'CASES', N'54123', CAST(0x0000AE0400000000 AS DateTime), N'RACK-1', 10, 10)
INSERT [dbo].[PutawayDetails] ([putaway], [product], [uom], [lot_no], [expiry], [location], [expected_qty], [actual_qty]) VALUES (N'CEB1-PA-1', N'11010002', N'CASES', N'21345', CAST(0x0000AE0400000000 AS DateTime), N'RACK-1', 10, 10)
/****** Object:  Table [dbo].[Receipts]    Script Date: 04/10/2019 16:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipts](
	[receipt_id] [nvarchar](250) NOT NULL,
	[received_from] [nvarchar](1000) NOT NULL,
	[received_on] [datetime] NOT NULL,
	[received_by] [nvarchar](250) NOT NULL,
	[encoded_on] [datetime] NOT NULL,
 CONSTRAINT [PK_Receipts] PRIMARY KEY CLUSTERED 
(
	[receipt_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Receipts] ([receipt_id], [received_from], [received_on], [received_by], [encoded_on]) VALUES (N'CEB1-RC-1', N'Comark', CAST(0x0000AA1600000000 AS DateTime), N'RR', CAST(0x0000AA1600B2F41C AS DateTime))
INSERT [dbo].[Receipts] ([receipt_id], [received_from], [received_on], [received_by], [encoded_on]) VALUES (N'CEB1-RC-2', N'Comark', CAST(0x0000AA1800000000 AS DateTime), N'RR', CAST(0x0000AA1800BB5E04 AS DateTime))
/****** Object:  Table [dbo].[Resolutions]    Script Date: 04/10/2019 16:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resolutions](
	[trans_source] [nvarchar](250) NOT NULL,
	[trans_id] [nvarchar](250) NOT NULL,
	[line] [int] NOT NULL,
	[explanation_no] [int] NOT NULL,
	[explanation] [nvarchar](2000) NOT NULL,
	[charge_to] [nvarchar](50) NULL,
	[qty_resolved] [int] NOT NULL,
	[resolved_by] [nvarchar](250) NULL,
	[resolved_on] [datetime] NULL,
 CONSTRAINT [PK_Resolutions] PRIMARY KEY CLUSTERED 
(
	[trans_source] ASC,
	[trans_id] ASC,
	[line] ASC,
	[explanation_no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Resolutions] ([trans_source], [trans_id], [line], [explanation_no], [explanation], [charge_to], [qty_resolved], [resolved_by], [resolved_on]) VALUES (N'PHYSICAL_COUNT', N'CEB1-PC-1', 1, 0, N'GIKAWAT SA DAGA NI EDDIE', N'EDDIE', 5, N'TEBAN', CAST(0x0000A9AF010C6308 AS DateTime))
/****** Object:  Table [dbo].[ReleaseTripDetails]    Script Date: 04/10/2019 16:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseTripDetails](
	[trip] [nvarchar](250) NOT NULL,
	[order_id] [nvarchar](250) NOT NULL,
	[drop_sequence] [int] NULL,
 CONSTRAINT [PK_ReleaseTripDetails] PRIMARY KEY CLUSTERED 
(
	[trip] ASC,
	[order_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ReleaseTripDetails] ([trip], [order_id], [drop_sequence]) VALUES (N'VGL-CEB1-TR-59', N'CEB1-INVOICE-1', 1)
/****** Object:  Table [dbo].[ReleaseOrderDetails]    Script Date: 04/10/2019 16:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseOrderDetails](
	[release_order] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[qty] [int] NULL,
	[qty_lacking_on_override] [int] NULL,
 CONSTRAINT [PK_ReleaseOrderDetails] PRIMARY KEY CLUSTERED 
(
	[release_order] ASC,
	[product] ASC,
	[uom] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ReleaseOrderDetails] ([release_order], [product], [uom], [qty], [qty_lacking_on_override]) VALUES (N'CEB1-INVOICE-1', N'10050063', N'CASES', 1, NULL)
INSERT [dbo].[ReleaseOrderDetails] ([release_order], [product], [uom], [qty], [qty_lacking_on_override]) VALUES (N'CEB1-INVOICE-1', N'11010001', N'CASES', 1, NULL)
INSERT [dbo].[ReleaseOrderDetails] ([release_order], [product], [uom], [qty], [qty_lacking_on_override]) VALUES (N'CEB1-INVOICE-1', N'11010002', N'CASES', 1, NULL)
/****** Object:  Table [dbo].[ReleaseDetails]    Script Date: 04/10/2019 16:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseDetails](
	[release] [nvarchar](250) NOT NULL,
	[order_id] [nvarchar](250) NOT NULL,
	[drop_sequence] [int] NOT NULL,
	[status] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ReleaseDetails] PRIMARY KEY CLUSTERED 
(
	[release] ASC,
	[order_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseDetailItems]    Script Date: 04/10/2019 16:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseDetailItems](
	[release] [nvarchar](250) NOT NULL,
	[order_id] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[lot_no] [nvarchar](250) NOT NULL,
	[order_qty] [int] NOT NULL,
	[uom] [nvarchar](250) NOT NULL,
	[scanned_qty] [int] NOT NULL,
	[line] [int] NOT NULL,
	[scanned_on] [datetime] NULL,
 CONSTRAINT [PK_ReleaseDetailItems] PRIMARY KEY CLUSTERED 
(
	[release] ASC,
	[order_id] ASC,
	[line] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptDetails]    Script Date: 04/10/2019 16:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptDetails](
	[receipt] [nvarchar](250) NOT NULL,
	[line] [int] NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[qty] [int] NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[lot_no] [nvarchar](50) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[remarks] [nvarchar](250) NULL,
 CONSTRAINT [PK_ReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[receipt] ASC,
	[line] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ReceiptDetails] ([receipt], [line], [product], [qty], [uom], [lot_no], [expiry], [remarks]) VALUES (N'CEB1-RC-1', 1, N'10050063', 10, N'CASES', N'12345', CAST(0x0000AE0400000000 AS DateTime), NULL)
INSERT [dbo].[ReceiptDetails] ([receipt], [line], [product], [qty], [uom], [lot_no], [expiry], [remarks]) VALUES (N'CEB1-RC-1', 2, N'11010001', 10, N'CASES', N'54123', CAST(0x0000AE0400000000 AS DateTime), NULL)
INSERT [dbo].[ReceiptDetails] ([receipt], [line], [product], [qty], [uom], [lot_no], [expiry], [remarks]) VALUES (N'CEB1-RC-1', 3, N'11010002', 10, N'CASES', N'21345', CAST(0x0000AE0400000000 AS DateTime), NULL)
/****** Object:  Table [dbo].[PhysicalCountDetailItems]    Script Date: 04/10/2019 16:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicalCountDetailItems](
	[phcount] [nvarchar](250) NOT NULL,
	[location] [nvarchar](250) NOT NULL,
	[line] [int] NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](50) NULL,
	[lot_no] [nvarchar](250) NULL,
	[expiry] [datetime] NULL,
	[expected_qty] [int] NULL,
	[actual_qty] [int] NULL,
	[variance] [int] NULL,
	[shortage]  AS (case when [expected_qty]>[actual_qty] then [expected_qty]-[actual_qty] else (0) end),
	[overage]  AS (case when [actual_qty]>[expected_qty] then [actual_qty]-[expected_qty] else (0) end),
 CONSTRAINT [PK_PhysicalCountDetailItems] PRIMARY KEY CLUSTERED 
(
	[phcount] ASC,
	[location] ASC,
	[line] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PhysicalCountDetailItems] ([phcount], [location], [line], [product], [uom], [lot_no], [expiry], [expected_qty], [actual_qty], [variance]) VALUES (N'CEB1-PC-1', N'RACK-1', 1, N'31220005', N'PCS', N'123', CAST(0x0000AC8A00000000 AS DateTime), 5, 0, NULL)
INSERT [dbo].[PhysicalCountDetailItems] ([phcount], [location], [line], [product], [uom], [lot_no], [expiry], [expected_qty], [actual_qty], [variance]) VALUES (N'CEB1-PC-1', N'RACK-1', 2, N'31220007', N'PCS', N'333', CAST(0x0000ADF700000000 AS DateTime), 5, 0, NULL)
INSERT [dbo].[PhysicalCountDetailItems] ([phcount], [location], [line], [product], [uom], [lot_no], [expiry], [expected_qty], [actual_qty], [variance]) VALUES (N'CEB1-PC-1', N'STAGING-IN', 3, N'31220005', N'PCS', N'123', CAST(0x0000AB1C00000000 AS DateTime), 5, 0, NULL)
/****** Object:  Table [dbo].[IssuanceDetails]    Script Date: 04/10/2019 16:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssuanceDetails](
	[issuance] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[qty] [int] NOT NULL,
	[expiry] [datetime] NOT NULL,
	[lot_no] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_IssuanceDetails] PRIMARY KEY CLUSTERED 
(
	[issuance] ASC,
	[product] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaseBreakDetails]    Script Date: 04/10/2019 16:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseBreakDetails](
	[line] [int] NOT NULL,
	[casebreak] [nvarchar](250) NOT NULL,
	[product] [nvarchar](250) NOT NULL,
	[uom] [nvarchar](50) NOT NULL,
	[lot_no] [nvarchar](50) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[qty] [int] NOT NULL,
	[breakto_uom] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CaseBreakDetails] PRIMARY KEY CLUSTERED 
(
	[casebreak] ASC,
	[line] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_ReleaseOrders_status]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[ReleaseOrders] ADD  CONSTRAINT [DF_ReleaseOrders_status]  DEFAULT ('FOR STOCK CHECKING') FOR [status]
GO
/****** Object:  Default [DF_ReleaseOrders_total_invoice_amount]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[ReleaseOrders] ADD  CONSTRAINT [DF_ReleaseOrders_total_invoice_amount]  DEFAULT ((100000)) FOR [total_invoice_amount]
GO
/****** Object:  Default [DF_LocationProductsLedger_reserved_qty]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[LocationProductsLedger] ADD  CONSTRAINT [DF_LocationProductsLedger_reserved_qty]  DEFAULT ((0)) FOR [reserved_qty]
GO
/****** Object:  Default [DF_LocationProductsLedger_to_be_picked_qty]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[LocationProductsLedger] ADD  CONSTRAINT [DF_LocationProductsLedger_to_be_picked_qty]  DEFAULT ((0)) FOR [to_be_picked_qty]
GO
/****** Object:  Default [DF_CaseBreak_status]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[CaseBreak] ADD  CONSTRAINT [DF_CaseBreak_status]  DEFAULT (N'TO BE PICKED') FOR [status]
GO
/****** Object:  Default [DF_CaseBreakDetails_breakto_uom]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[CaseBreakDetails] ADD  CONSTRAINT [DF_CaseBreakDetails_breakto_uom]  DEFAULT (N'PCS') FOR [breakto_uom]
GO
/****** Object:  Check [CK_LocationProductsLedger]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[LocationProductsLedger]  WITH CHECK ADD  CONSTRAINT [CK_LocationProductsLedger] CHECK  (([qty]>=(0)))
GO
ALTER TABLE [dbo].[LocationProductsLedger] CHECK CONSTRAINT [CK_LocationProductsLedger]
GO
/****** Object:  ForeignKey [FK_CaseBreak_Employees]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[CaseBreak]  WITH CHECK ADD  CONSTRAINT [FK_CaseBreak_Employees] FOREIGN KEY([approved_by])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[CaseBreak] CHECK CONSTRAINT [FK_CaseBreak_Employees]
GO
/****** Object:  ForeignKey [FK_BinProducts_Bins]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[BinProducts]  WITH CHECK ADD  CONSTRAINT [FK_BinProducts_Bins] FOREIGN KEY([bin])
REFERENCES [dbo].[Bins] ([bin_id])
GO
ALTER TABLE [dbo].[BinProducts] CHECK CONSTRAINT [FK_BinProducts_Bins]
GO
/****** Object:  ForeignKey [FK_BadStockDeclarationDetails_BadStockDeclarations]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[BadStockDeclarationDetails]  WITH CHECK ADD  CONSTRAINT [FK_BadStockDeclarationDetails_BadStockDeclarations] FOREIGN KEY([declaration])
REFERENCES [dbo].[BadStockDeclarations] ([declaration_id])
GO
ALTER TABLE [dbo].[BadStockDeclarationDetails] CHECK CONSTRAINT [FK_BadStockDeclarationDetails_BadStockDeclarations]
GO
/****** Object:  ForeignKey [FK_Issuances_Employees]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[Issuances]  WITH CHECK ADD  CONSTRAINT [FK_Issuances_Employees] FOREIGN KEY([issued_by])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Issuances] CHECK CONSTRAINT [FK_Issuances_Employees]
GO
/****** Object:  ForeignKey [FK_PhysicalCountDetails_PhysicalCounts]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[PhysicalCountDetails]  WITH CHECK ADD  CONSTRAINT [FK_PhysicalCountDetails_PhysicalCounts] FOREIGN KEY([phcount])
REFERENCES [dbo].[PhysicalCounts] ([phcount_id])
GO
ALTER TABLE [dbo].[PhysicalCountDetails] CHECK CONSTRAINT [FK_PhysicalCountDetails_PhysicalCounts]
GO
/****** Object:  ForeignKey [FK_PicklistDetails_Picklists]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[PicklistDetails]  WITH CHECK ADD  CONSTRAINT [FK_PicklistDetails_Picklists] FOREIGN KEY([picklist])
REFERENCES [dbo].[Picklists] ([picklist_id])
GO
ALTER TABLE [dbo].[PicklistDetails] CHECK CONSTRAINT [FK_PicklistDetails_Picklists]
GO
/****** Object:  ForeignKey [FK_PutawayDetails_Putaways]    Script Date: 04/10/2019 16:37:03 ******/
ALTER TABLE [dbo].[PutawayDetails]  WITH CHECK ADD  CONSTRAINT [FK_PutawayDetails_Putaways] FOREIGN KEY([putaway])
REFERENCES [dbo].[Putaways] ([putaway_id])
GO
ALTER TABLE [dbo].[PutawayDetails] CHECK CONSTRAINT [FK_PutawayDetails_Putaways]
GO
/****** Object:  ForeignKey [FK_Receipts_Employees]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Receipts_Employees] FOREIGN KEY([received_by])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_Receipts_Employees]
GO
/****** Object:  ForeignKey [FK_Resolutions_ForResolutions]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[Resolutions]  WITH CHECK ADD  CONSTRAINT [FK_Resolutions_ForResolutions] FOREIGN KEY([trans_source], [trans_id], [line])
REFERENCES [dbo].[ForResolutions] ([trans_source], [trans_id], [line])
GO
ALTER TABLE [dbo].[Resolutions] CHECK CONSTRAINT [FK_Resolutions_ForResolutions]
GO
/****** Object:  ForeignKey [FK_ReleaseTripDetails_ReleaseTrips]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[ReleaseTripDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReleaseTripDetails_ReleaseTrips] FOREIGN KEY([trip])
REFERENCES [dbo].[ReleaseTrips] ([trip_id])
GO
ALTER TABLE [dbo].[ReleaseTripDetails] CHECK CONSTRAINT [FK_ReleaseTripDetails_ReleaseTrips]
GO
/****** Object:  ForeignKey [FK_ReleaseOrderDetails_ReleaseOrders]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[ReleaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReleaseOrderDetails_ReleaseOrders] FOREIGN KEY([release_order])
REFERENCES [dbo].[ReleaseOrders] ([order_id])
GO
ALTER TABLE [dbo].[ReleaseOrderDetails] CHECK CONSTRAINT [FK_ReleaseOrderDetails_ReleaseOrders]
GO
/****** Object:  ForeignKey [FK_ReleaseDetails_Releases]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[ReleaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReleaseDetails_Releases] FOREIGN KEY([release])
REFERENCES [dbo].[Releases] ([release_id])
GO
ALTER TABLE [dbo].[ReleaseDetails] CHECK CONSTRAINT [FK_ReleaseDetails_Releases]
GO
/****** Object:  ForeignKey [FK_ReleaseDetailItems_ReleaseDetails]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[ReleaseDetailItems]  WITH CHECK ADD  CONSTRAINT [FK_ReleaseDetailItems_ReleaseDetails] FOREIGN KEY([release], [order_id])
REFERENCES [dbo].[ReleaseDetails] ([release], [order_id])
GO
ALTER TABLE [dbo].[ReleaseDetailItems] CHECK CONSTRAINT [FK_ReleaseDetailItems_ReleaseDetails]
GO
/****** Object:  ForeignKey [FK_ReceiptDetails_Receipts]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptDetails_Receipts] FOREIGN KEY([receipt])
REFERENCES [dbo].[Receipts] ([receipt_id])
GO
ALTER TABLE [dbo].[ReceiptDetails] CHECK CONSTRAINT [FK_ReceiptDetails_Receipts]
GO
/****** Object:  ForeignKey [FK_PhysicalCountDetailItems_PhysicalCountDetails]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[PhysicalCountDetailItems]  WITH CHECK ADD  CONSTRAINT [FK_PhysicalCountDetailItems_PhysicalCountDetails] FOREIGN KEY([phcount], [location])
REFERENCES [dbo].[PhysicalCountDetails] ([phcount], [location])
GO
ALTER TABLE [dbo].[PhysicalCountDetailItems] CHECK CONSTRAINT [FK_PhysicalCountDetailItems_PhysicalCountDetails]
GO
/****** Object:  ForeignKey [FK_IssuanceDetails_Issuances]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[IssuanceDetails]  WITH CHECK ADD  CONSTRAINT [FK_IssuanceDetails_Issuances] FOREIGN KEY([issuance])
REFERENCES [dbo].[Issuances] ([issuance_id])
GO
ALTER TABLE [dbo].[IssuanceDetails] CHECK CONSTRAINT [FK_IssuanceDetails_Issuances]
GO
/****** Object:  ForeignKey [FK_IssuanceDetails_Products]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[IssuanceDetails]  WITH CHECK ADD  CONSTRAINT [FK_IssuanceDetails_Products] FOREIGN KEY([product])
REFERENCES [dbo].[Products] ([product_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[IssuanceDetails] CHECK CONSTRAINT [FK_IssuanceDetails_Products]
GO
/****** Object:  ForeignKey [FK_CaseBreakDetails_CaseBreak]    Script Date: 04/10/2019 16:37:04 ******/
ALTER TABLE [dbo].[CaseBreakDetails]  WITH CHECK ADD  CONSTRAINT [FK_CaseBreakDetails_CaseBreak] FOREIGN KEY([casebreak])
REFERENCES [dbo].[CaseBreak] ([casebreak_id])
GO
ALTER TABLE [dbo].[CaseBreakDetails] CHECK CONSTRAINT [FK_CaseBreakDetails_CaseBreak]
GO
